{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block content %}

<form method="post" class="flex flex-col justify-between items-center h-screen">
  {% csrf_token %}
  <div>
    
  </div>
 <div class="flex flex-col justify-between items-center">
    <h2 class="text-blue-600 font-bold">Welcom to <span class="uppercase">Heroku-Django Project</span></h2>
    {{ form.username|attr:"placeholder:user_name"|add_class:" m-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
    {{ form.password|attr:"placeholder:pass_word"|add_class:"m-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
    <button type="submit" class="m-1 bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 py-1 rounded">
      Log In
    </button>
 </div>
  <div></div>
</form>
{% endblock content %}