{% load tailwind_tags  static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'alpine.min.js' %}"></script>
    <script defer src="{% static 'htmx.min.js' %}"></script>
    <title>
        {% block title %}
            Document
        {% endblock title %}
    </title>
    <style>
        
    </style>
</head>
<body class="" x-data="{
    isMorning : true,
    get time1(){
        return this.isMorning ? '8:30 - 9:00' : '13:00 - 13:30';
    },
    get time2(){
        return this.isMorning ? '9:00 - 9:30' : '13:30 - 14:00';
    },
    get time3(){
        return this.isMorning ? '9:30 - 10:00' : '14:00 - 14:30';
    },
    get time4(){
        return this.isMorning ? '10:00 - 11:00' : '14:30 - 15:30';
    },
    get time5(){
        return this.isMorning ? '11:00 - 11:30' : '15:30 - 16:00';
    },
    get time6(){
        return this.isMorning ? '11:30 - 12:30' : '16:00 - 17:00';
    },
    get time7(){
        return this.isMorning ? '12:30 - 13:00' : '17:00 - 17:30';
    },
}">
    {% block content %}
    hello
    {% endblock content %}
</body>
</html>